.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 3rem;
}

.portfolio-item {
    background: var(--color-background-varient);
    padding: 1.7rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover {
    background-color: var(--color-primary-varient);
    background: transparent;
}

.portfolio-item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio-item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio-item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.btn {
    margin: auto;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media  screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}